@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.feed-details {
  padding: 72px 0px;

  .feed-header {
    margin-bottom: 40px;

    .feed-header-image {
      img {
        box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
        width: 172px;
      }
    }

    .feed-header-text {
      flex-grow: 1;
      margin: 0px 30px;

      h1 {
        color: #393939;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      p {
        color: #393939;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px;
      }

      h2 {
        color: #393939;
        font-size: 18px;
        font-weight: 600;
        opacity: 0.45;
      }
    }
  }

  .play-button {
    cursor: pointer;
  }
}

@include media-breakpoint-down(sm) {
  .feed-details {
    padding: 32px 0px;

    .feed-header {
      flex-wrap: wrap;

      .feed-header-image {
        text-align: center;

        img {
          box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
          width: 60%;
        }
      }

      .feed-header-text {
        margin: 15px 15px;

        h1 {
          text-align: center;
        }

        h2 {
          text-align: center;
        }
      }

      .feed-header-buttons {
        margin: 0 auto;
      }
    }
  }
}
