.feed-details {
  padding: 72px 0px; }
  .feed-details .feed-header {
    margin-bottom: 40px; }
    .feed-details .feed-header .feed-header-image img {
      box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
      width: 172px; }
    .feed-details .feed-header .feed-header-text {
      flex-grow: 1;
      margin: 0px 30px; }
      .feed-details .feed-header .feed-header-text h1 {
        color: #393939;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px; }
      .feed-details .feed-header .feed-header-text p {
        color: #393939;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 15px; }
      .feed-details .feed-header .feed-header-text h2 {
        color: #393939;
        font-size: 18px;
        font-weight: 600;
        opacity: 0.45; }
  .feed-details .play-button {
    cursor: pointer; }

@media (max-width: 767px) {
  .feed-details {
    padding: 32px 0px; }
    .feed-details .feed-header {
      flex-wrap: wrap; }
      .feed-details .feed-header .feed-header-image {
        text-align: center; }
        .feed-details .feed-header .feed-header-image img {
          box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
          width: 60%; }
      .feed-details .feed-header .feed-header-text {
        margin: 15px 15px; }
        .feed-details .feed-header .feed-header-text h1 {
          text-align: center; }
        .feed-details .feed-header .feed-header-text h2 {
          text-align: center; }
      .feed-details .feed-header .feed-header-buttons {
        margin: 0 auto; } }
