.feeds {
  padding: 75px; }
  .feeds .feed {
    margin-bottom: 30px; }
    .feeds .feed a {
      text-decoration: none; }
    .feeds .feed img {
      box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
      margin-bottom: 10px;
      width: 100%; }
    .feeds .feed .feed-name {
      color: #393939;
      font-size: 16px;
      font-weight: 600; }
    .feeds .feed .feed-author {
      color: #2f313a;
      font-size: 16px;
      font-weight: 600;
      opacity: 0.45; }

@media (max-width: 767px) {
  .feeds {
    padding: 48px; } }
