@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.feeds {
  padding: 75px;

  .feed {
    margin-bottom: 30px;

    a {
      text-decoration: none;
    }

    img {
      box-shadow: 0 2px 23px 0 rgba(0, 0, 0, 0.08);
      margin-bottom: 10px;
      width: 100%;
    }

    .feed-name {
      color: #393939;
      font-size: 16px;
      font-weight: 600;
    }

    .feed-author {
      color: #2f313a;
      font-size: 16px;
      font-weight: 600;
      opacity: 0.45;
    }
  }
}

@include media-breakpoint-down(sm) {
  .feeds {
    padding: 48px;
  }
}
