@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/font-awesome/css/font-awesome.css";
@import "fonts";

body {
  background-color: #F5F7FA;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.btn-primary {
  border-radius: 100px;
  background-color: #2979fe;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
  cursor: pointer;
  font-family: 'Nunito Sans';
  font-size: 20px;
  height: 47px;
  padding: 10px 72px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table {
  thead {
    th {
      border: none;
      border-bottom: solid 1px #393939;
      color: #393939;
      font-size: 18px;
      font-weight: bold;
      opacity: 0.45;
      text-transform: uppercase;
    }
  }

  tbody {
    td {
      border-bottom: solid 1px #a6a6a6;
      color: #393939;
      height: 70px;
      vertical-align: middle;

      .btn-primary {
        background-color: #ffffff;
        border: solid 2px #2979fe;
        color: #2979fe;
        font-size: 14px;
        font-weight: bold;
        height: 40px;
        padding: 10px 42px;
      }
    }
  }
}
