.login-card-container {
  align-items: center;
  height: 100vh;
  justify-content: center; }
  .login-card-container .login-card {
    align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    height: 735px;
    width: 1000px; }
    .login-card-container .login-card .login-card-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      flex-basis: 0;
      flex-grow: 1;
      height: 100%;
      width: 100%; }
    .login-card-container .login-card .login-card-form {
      flex-basis: 0;
      flex-grow: 1; }
      .login-card-container .login-card .login-card-form .login-form-container {
        margin: 0 60px; }
        .login-card-container .login-card .login-card-form .login-form-container img {
          display: block;
          margin: 0 auto 40px auto;
          width: 200px; }
        .login-card-container .login-card .login-card-form .login-form-container form .form-group {
          margin-bottom: 10px; }
          .login-card-container .login-card .login-card-form .login-form-container form .form-group label {
            font-weight: 600;
            margin-bottom: 0px; }
        .login-card-container .login-card .login-card-form .login-form-container .buttons-row {
          margin-top: 20px; }
          .login-card-container .login-card .login-card-form .login-form-container .buttons-row .btn {
            font-size: 18px;
            font-weight: bold;
            text-transform: none; }
            .login-card-container .login-card .login-card-form .login-form-container .buttons-row .btn.btn-primary {
              padding: 0; }
            .login-card-container .login-card .login-card-form .login-form-container .buttons-row .btn.btn-link {
              padding: 12px 0; }
