@media (max-width: 767px) {
  .navbar {
    background-color: #2979fe; }
    .navbar .navbar-toggler {
      border: none;
      padding: 4px; }
      .navbar .navbar-toggler i {
        color: #ffffff;
        font-size: 30px; }
    .navbar .navbar-brand {
      margin-right: 0px;
      text-align: center; }
      .navbar .navbar-brand img {
        height: 30px; }
    .navbar .navbar-collapse {
      margin-top: 15px; }
      .navbar .navbar-collapse .nav-user.nav-link {
        padding-bottom: 0px;
        text-align: center; }
        .navbar .navbar-collapse .nav-user.nav-link span {
          color: #ffffff;
          font-size: 22px;
          font-weight: bold;
          vertical-align: middle; } }

@media (min-width: 768px) {
  .navbar {
    background-color: #2979fe;
    box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.5);
    height: 60px; }
    .navbar .navbar-brand {
      color: #393939 !important;
      font-size: 25px;
      font-weight: bold;
      margin: 0 32px 0 16px;
      text-transform: uppercase; }
      .navbar .navbar-brand img {
        height: 30px; }
    .navbar .search-form input {
      border: solid 1px #2979fe;
      border-radius: 100px;
      font-size: 12px;
      height: 35px;
      width: 340px; }
    .navbar .nav-item .dropdown .nav-user {
      cursor: pointer; }
      .navbar .nav-item .dropdown .nav-user img {
        border-radius: 100%;
        height: 55px; }
      .navbar .nav-item .dropdown .nav-user span {
        color: #ffffff;
        font-size: 22px;
        font-weight: bold;
        margin-left: 19px;
        vertical-align: middle; }
    .navbar .nav-item .dropdown .dropdown-menu {
      margin-top: 5px; } }
