@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

@include media-breakpoint-down(sm) {
  .navbar {
    background-color: #2979fe;

    .navbar-toggler {
      border: none;
      padding: 4px;

      i {
        color: #ffffff;
        font-size: 30px;
      }
    }

    .navbar-brand {
      margin-right: 0px;
      text-align: center;

      img {
        height: 30px;
      }
    }

    .navbar-collapse {
      margin-top: 15px;

      .nav-user {
        &.nav-link {
          padding-bottom: 0px;
          text-align: center;

          span {
            color: #ffffff;
            font-size: 22px;
            font-weight: bold;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    background-color: #2979fe;
    box-shadow: 0 2px 4px 0 rgba(200, 200, 200, 0.5);
    height: 60px;

    .navbar-brand {
      color: #393939 !important;
      font-size: 25px;
      font-weight: bold;
      margin: 0 32px 0 16px;
      text-transform: uppercase;

      img {
        height: 30px;
      }
    }

    .search-form {
      input {
        border: solid 1px #2979fe;
        border-radius: 100px;
        font-size: 12px;
        height: 35px;
        width: 340px;
      }
    }

    .nav-item {
      .dropdown {
        .nav-user {
          cursor: pointer;

          img {
            border-radius: 100%;
            height: 55px;
          }

          span {
            color: #ffffff;
            font-size: 22px;
            font-weight: bold;
            margin-left: 19px;
            vertical-align: middle;
          }
        }

        .dropdown-menu {
          margin-top: 5px;
        }
      }
    }
  }
}
