.player {
  background-color: white;
  bottom: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  height: 96px;
  position: fixed;
  width: 100%; }
  .player .player-cover {
    height: 96px; }
  .player .player-info {
    margin-left: 19px;
    max-width: 220px; }
    .player .player-info .player-info-entry {
      color: #393939;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 5px;
      line-height: 1.29; }
    .player .player-info .player-info-feed {
      font-size: 13px;
      font-weight: 600; }
      .player .player-info .player-info-feed a {
        color: #a2a3a7;
        text-decoration: none; }
  .player .player-controls {
    flex-grow: 1;
    padding: 0px 36px; }
    .player .player-controls .player-controls-buttons {
      margin-bottom: 10px; }
      .player .player-controls .player-controls-buttons img {
        cursor: pointer;
        padding: 0 13px; }
    .player .player-controls .rangeslider {
      background-color: #d8d8d8;
      border-radius: 100px;
      box-shadow: none;
      cursor: pointer;
      height: 5px;
      margin: 5px 0px; }
      .player .player-controls .rangeslider .rangeslider__fill {
        background-color: #2979fe;
        box-shadow: none; }
      .player .player-controls .rangeslider .rangeslider__handle {
        border: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        height: 15px;
        width: 15px;
        top: -5px; }
        .player .player-controls .rangeslider .rangeslider__handle::after {
          display: none; }
        .player .player-controls .rangeslider .rangeslider__handle .rangeslider__tooltip {
          left: -30px;
          font-size: 12px;
          background-color: #000000;
          width: 75px; }
          .player .player-controls .rangeslider .rangeslider__handle .rangeslider__tooltip:hover {
            display: gone; }
          .player .player-controls .rangeslider .rangeslider__handle .rangeslider__tooltip::after {
            border-top-color: #000000;
            left: 30px; }
    .player .player-controls span {
      color: #393939;
      font-size: 12px;
      font-weight: 600; }
  .player .player-volume {
    padding-right: 36px; }
    .player .player-volume img {
      cursor: pointer;
      margin-right: 14px; }
    .player .player-volume .rangeslider {
      background-color: #d8d8d8;
      border-radius: 100px;
      box-shadow: none;
      cursor: pointer;
      height: 5px;
      margin: 10px 0px;
      width: 100px; }
      .player .player-volume .rangeslider .rangeslider__fill {
        background-color: #a5a5a5;
        box-shadow: none; }
      .player .player-volume .rangeslider .rangeslider__handle {
        border: none;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        height: 15px;
        width: 15px;
        top: -5px; }
        .player .player-volume .rangeslider .rangeslider__handle::after {
          display: none; }
        .player .player-volume .rangeslider .rangeslider__handle .rangeslider__tooltip {
          left: -13px;
          font-size: 12px;
          background-color: #000000; }
          .player .player-volume .rangeslider .rangeslider__handle .rangeslider__tooltip::after {
            border-top-color: #000000; }

@media (max-width: 767px) {
  .mini-player {
    align-items: center;
    background-color: #ffffff;
    bottom: 0;
    justify-content: space-between;
    position: fixed;
    width: 100%; }
    .mini-player .mini-player-info {
      color: #393939;
      flex-direction: column;
      flex-grow: 1;
      font-size: 13px;
      font-weight: 600;
      margin-left: 10px; }
      .mini-player .mini-player-info .mini-player-info-time {
        color: #a2a3a7;
        margin-top: 5px; }
    .mini-player .player-cover {
      width: 75px; }
    .mini-player .mini-player-button {
      padding: 0px 20px; }
  .player {
    background-color: rgba(255, 255, 255, 0.95);
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%; }
    .player .player-info-container {
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-around;
      width: 100%; }
      .player .player-info-container .player-cover {
        height: auto;
        width: 70%; }
      .player .player-info-container .player-info {
        margin: 0px;
        max-width: 100%;
        padding: 0px 36px;
        text-align: center;
        width: 100%; }
    .player .player-controls {
      flex-grow: 0;
      padding: 10px 36px;
      width: 100%; }
    .player .player-volume {
      flex-grow: 0;
      padding: 10px 36px;
      width: 100%; }
      .player .player-volume .rangeslider {
        width: 100%; }
    .player .player-close {
      padding: 15px; }
      .player .player-close i {
        border: 2px solid black;
        border-radius: 100px;
        padding: 8px 10px; } }
