.search {
  padding: 52px 0px; }
  .search h1 {
    color: #393939;
    font-size: 40px; }

@media (max-width: 767px) {
  .search {
    padding: 32px 0px; }
    .search table td {
      font-size: 13px; }
      .search table td button {
        padding: 10px 30px; } }
