@import "../../node_modules/bootstrap/scss/_variables.scss";
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.search {
  padding: 52px 0px;

  h1 {
    color: #393939;
    font-size: 40px;
  }
}

@include media-breakpoint-down(sm) {
  .search {
    padding: 32px 0px;

    table {
      td {
        font-size: 13px;

        button {
          padding: 10px 30px;
        }
      }
    }
  }
}
